html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    background: #eeeeee;
    font-size: sans-serif;
}
#container {
    position: relative;
    height: 100vh;
}
.grid {
    background: #ffffff;
    width: 40vh;
    height: 80vh;
    margin: 0 auto;
}
.line {
    width: 100%;
    height: 5%;
    overflow: hidden;
    box-sizing: border-box;
}
.cell {
    display: inline-block;
    width: 10%;
    height: 100%;
    border: solid #eeeeee 1px;
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
    line-height: 2em;
}
.block-I { background: #aa0000; }
.block-J { background: #c0c0c0; }
.block-L { background: #aa00aa; }
.block-O { background: #0000aa; }
.block-S { background: #00aa00; }
.block-T { background: #aa5500; }
.block-Z { background: #00aaaa; }

.game-over {
    position: relative;
}
.game-over .grid {
    opacity: 0.2;
}
.game-over .title {
    position: absolute;
    width: 100%;
    top: 33%;
    font-size: 400%;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}
.score {
    padding: .25em;
    top: 0;
    right: 0;
    font-size: 200%;
    text-align: center;
}

.controls button {
    position: absolute;
    opacity: 0;
    width: 50%;
    height: 50%;
}
.controls .left {
    left: 0;
    top: 0;
    height: 100%;
    width: 25%;
}
.controls .right {
    right: 0;
    top: 0;
    height: 100%;
    width: 25%;
}
.controls .up {
    top: 0;
    left: 25%;
    height: 75%;
}
.controls .down {
    bottom: 0;
    left: 25%;
    height: 25%;
}
